.navbar {
  padding: 10px;
  margin: 0 10px;
  color: white;
  font-weight: 700;
  background-color: white;
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }
}
